@model IEnumerable<EMS_CRM.Models.ErrorViewModel>

@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1>CONTACT</h1>
</div>

<div class="text-center">
    <p>Use this page to detail your site's privacy policy.</p>
</div>
